[submodule "TestTask-frontend"]
	path = TestTask-frontend
	url = https://github.com/ivanChuvaev/TestTask-frontend.git
[submodule "TestTask-backend"]
	path = TestTask-backend
	url = https://github.com/ivanChuvaev/TestTask-backend.git
